.Banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.BannerText {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  max-width: 90%;
}

@media (max-width: 768px) {
  .Banner {
    height: 100vh;
  }
  
  .BannerText h1 {
    font-size: 2.5rem;
  }
  
  .BannerText h3 {
    font-size: 1.1rem;
  }
}